{% extends 'base.html' %}
{% block body %}
    

    <h1>Welcome to our Job Portal</h1>


    <div class ="container">
      <h2>Apply for Jobs Here</h2>

        <form action="/Applicant" method="POST">
            <div class="mb-3">
              <label for="applicant_name" class="form-label"> Applicant Name </label>
              <input type="text" class="form-control" id="name" aria-describedby="name_help" name="applicant_name">
              <div id="name_help" class="form-text">Enter Applicant Name here</div>
            </div>
            
            <div class="mb-3">
                <label for="applicant_email" class="form-label"> Applicant Email </label>
                <input type="text" class="form-control" id="applicant_email" aria-describedby="email_help" name="applicant_email">
                <div id="email_help" class="form-text">Enter Applicant Email here</div>
              </div>

            <!-- add job desc -->

            <!-- <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password"> -->
            <!-- </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Education</label>
              <select class="form-select" id="inputGroupSelect01" name = "education_id" required>
                <!-- <option selected>select your country...</option> -->
                <option value = 1>GED</option>
                <option value = 2>HighSchool</option>
                <option value = 3>Bachelors</option>
                <option value = 4>Masters</option>
                <option value = 5>PhD</option>
              </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Age</label>
                <select class="form-select" id="inputGroupSelect01" name = "age" required>
                  <!-- <option selected>select your country...</option> -->
                  <option value = 1>less than 18</option>
                  <option value = 2>between 18 to 25</option>
                  <option value = 3>between 25 to 35</option>
                  <option value = 4>between 35 to 40</option>
                  <option value = 5>between 40 to 45</option>
                  <option value = 6>between 45 to 50</option>
                  <option value = 7>greater than 50</option>
                  <!-- <option value="3">Canada</option> -->
                </select>
              </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                <select class="form-select" id="inputGroupSelect01" name = "gender_id" required>
                  <!-- <option selected>select your country...</option> -->
                  <option value = 1>Male</value>
                    <option value = 2>Female</value>
                    <option value = 3>Others</value>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Race</label>
                <select class="form-select" id="inputGroupSelect01" name = "race_id" required>
                  <!-- <option selected>select your country...</option> -->
                    <option value = 1>White</value>
                    <option value = 2>Black or African American</value>
                    <option value = 3>Asian American</value>
                    <option value = 4>American Indian/Alaska Native</value>
                    <option value = 5>Native Hawaiian/Pacific Islander</value>
                    <option value = 6>Others</value>
                </select>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">US Work Authorization</label>
                <select class="form-select" id="inputGroupSelect01" name = "work_authorization" required>
                  <!-- <option selected>select your country...</option> -->
                  <option value = 1>Yes</option>
                  <option value = 2>No</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Skill</label>
                <select class="form-select" id="inputGroupSelect01" name = "skill_id" required>
                  <!-- <option selected>select your country...</option> -->
                  <option value = 1>Computer proficiency</value>
                    <option value = 2>Leadership experience</value>
                    <option value = 3>Communication skills</value>
                    <option value = 4>Organizational know-how</value>
                    <option value = 5>People skills</value>
                    <option value = 6>Collaboration talent</value>
                    <option value = 7>Problem-solving abilities</value>
                    <option value = 8>Design principles</value>
                    <option value = 9>Brand development</value>
                    <option value = 10>Storytelling</value>
                    <option value = 11>Attention to detail</value>
                    <option value = 12>Collaboration with clients</value>
                    <option value = 13>Project management</value>
                    <option value = 14>Commitment to deadlines</value>
                    <option value = 15>Time management</value>
                    <option value = 16>Verbal and presentation skills</value>
                    <option value = 17>color theory</value>
                    <option value = 18>typography</value>
                    <option value = 19>Troubleshooting and testing skills</value>
                    <option value = 20>Operating systems</value>
                    <option value = 21>Database software</value>
                    <option value = 22>UX and UI design</value>
                    <option value = 23>Web frameworks</value>
                    <option value = 24>API design</value>
                    <option value = 25>Teamwork</value>
                    <option value = 26>Python</value>
                    <option value = 27>Java</value>
                    <option value = 28>UNIX</value>
                    <option value = 29>DevOps</value>
                    <option value = 30>Cloud Computing</value>
                    <option value = 31>GCP</value>
                    <option value = 32>AWS</value>
                    <option value = 33>Azure</value>
                    <option value = 34>Teradata</value>
                    <option value = 35>MySQL</value>
                    <option value = 36>SQL</value>
                    <option value = 37>Content creation</value>
                    <option value = 38>Market research</value>
                    <option value = 39>Web analytics</value>
                    <option value = 40>SEO and SEM</value>
                    <option value = 41>Critical thinking</value>
                    <option value = 42>Content management systems</value>
                    <option value = 43>Social media (strategy, campaigns, etc.)</value>
                    <option value = 44>Creativity</value>
                    <option value = 45>Business acumen</value>
                    <option value = 46>Data mining</value>
                    <option value = 47>Client relations</value>
                    <option value = 48>Strategic thinking</value>
                    <option value = 49>Collaboration</value>
                    <option value = 50>Problem solving</value>
                    <option value = 51>Data entry</value>
                    <option value = 52>Attentive listening, empathy</value>
                    <option value = 53>Troubleshooting and research</value>
                    <option value = 54>Patience</value>
                    <option value = 55>Speed and efficiency</value>
                    <option value = 56>Positive attitude</value>
                    <option value = 57>Diplomacy</value>
                    <option value = 58>Analytical and problem solving</value>
                    <option value = 59>Microsoft Excel</value>
                    <option value = 60>Enterprise resource planning software</value>
                    <option value = 61>Business and leadership</value>
                    <option value = 62>Verbal and writing skills</value>
                    <option value = 63>Data analytics</value>
                    <option value = 64>Revenue recognition</value>
                    <option value = 65>Risk and compliance</value>
                    <option value = 66>Generally accepted accounting principles (GAAP)</value>
                    <option value = 67>C#</value>
                    <option value = 68>C++</value>
                    <option value = 69>HTML</value>
                    <option value = 70>JavaScript</value>
                    <option value = 71>Perl</value>
                    <option value = 72>PHP</value>
                    <option value = 73>CSS</value>
                    <option value = 74>SQL Server</value>
                    <option value = 75>No SQL</value>
                    <option value = 76>Apache Hadoop</value>
                    <option value = 77>Hive</value>
                    <option value = 78>Docker</value>
                    <option value = 79>Kubernetes</value>
                    <option value = 80>Terraform</value>
                    <option value = 81>Ansible</value>
                    <option value = 82>Bamboo</value>
                    <option value = 83>BitBucket</value>
                    <option value = 84>Jira</value>
                    <option value = 85>Confluence</value>
                    <option value = 86>Hibernate</value>
                    <option value = 87>Control M</value>
                    <option value = 88>ESP</value>
                    <option value = 89>Autosys</value>
                  <!-- <option value="3">Canada</option> -->
                </select>
            </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">State</label>
        <select class="form-select" id="inputGroupSelect01" name = "state_id" required>
          <!-- <option selected>select your country...</option> -->
          <option value = 1>ontario</value>
            <option value = 2>guangdong</value>
            <option value = 3>uusimaa</value>
            <option value = 4>√Æle-de-france</value>
            <option value = 5>aquitaine</value>
            <option value = 6>bavaria</value>
            <option value = 7>nordrhein-westfalen</value>
            <option value = 8>hessen</value>
            <option value = 9>maharashtra</value>
            <option value = 10>karnataka</value>
            <option value = 11>uttar pradesh</value>
            <option value = 12>dublin</value>
            <option value = 13>zuid-holland</value>
            <option value = 14>stockholm</value>
            <option value = 15>vaud</value>
            <option value = 16>zurich</value>
            <option value = 17>basel-city</value>
            <option value = 18>greater london</value>
            <option value = 19>west berkshire</value>
            <option value = 20>hillingdon</value>
            <option value = 21>surrey</value>
            <option value = 22>turin</value>
            <option value = 23>new york</value>
            <option value = 24>virginia</value>
            <option value = 25>california</value>
            <option value = 26>new jersey</value>
            <option value = 27>wisconsin</value>
            <option value = 28>washington</value>
            <option value = 29>texas</value>
            <option value = 30>north carolina</value>
            <option value = 31>district of columbia</value>
            <option value = 32>illinois</value>
            <option value = 33>michigan</value>
            <option value = 34>minnesota</value>
            <option value = 35>georgia</value>
            <option value = 36>maryland</value>
            <option value = 37>kentucky</value>
            <option value = 38>connecticut</value>
            <option value = 39>ohio</value>
            <option value = 40>massachusetts</value>
            <option value = 41>south carolina</value>
            <option value = 42>kw.com</value>
            <option value = 43>lowes.com</value>
          <!-- <option value="3">Canada</option> -->
        </select>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">State</label>
        <select class="form-select" id="inputGroupSelect01" name = "job_state_id" required>
          <!-- <option selected>select your country...</option> -->
          <option value = 1>ontario</value>
            <option value = 2>guangdong</value>
            <option value = 3>uusimaa</value>
            <option value = 4>√Æle-de-france</value>
            <option value = 5>aquitaine</value>
            <option value = 6>bavaria</value>
            <option value = 7>nordrhein-westfalen</value>
            <option value = 8>hessen</value>
            <option value = 9>maharashtra</value>
            <option value = 10>karnataka</value>
            <option value = 11>uttar pradesh</value>
            <option value = 12>dublin</value>
            <option value = 13>zuid-holland</value>
            <option value = 14>stockholm</value>
            <option value = 15>vaud</value>
            <option value = 16>zurich</value>
            <option value = 17>basel-city</value>
            <option value = 18>greater london</value>
            <option value = 19>west berkshire</value>
            <option value = 20>hillingdon</value>
            <option value = 21>surrey</value>
            <option value = 22>turin</value>
            <option value = 23>new york</value>
            <option value = 24>virginia</value>
            <option value = 25>california</value>
            <option value = 26>new jersey</value>
            <option value = 27>wisconsin</value>
            <option value = 28>washington</value>
            <option value = 29>texas</value>
            <option value = 30>north carolina</value>
            <option value = 31>district of columbia</value>
            <option value = 32>illinois</value>
            <option value = 33>michigan</value>
            <option value = 34>minnesota</value>
            <option value = 35>georgia</value>
            <option value = 36>maryland</value>
            <option value = 37>kentucky</value>
            <option value = 38>connecticut</value>
            <option value = 39>ohio</value>
            <option value = 40>massachusetts</value>
            <option value = 41>south carolina</value>
            <option value = 42>kw.com</value>
            <option value = 43>lowes.com</value>
          <!-- <option value="3">Canada</option> -->
        </select>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Country</label>
        <select class="form-select" id="inputGroupSelect01" name = "country_id" required>
          <!-- <option selected>select your country...</option> -->
            <option value = 1>canada</value>
            <option value = 2>china</value>
            <option value = 3>finland</value>
            <option value = 4>france</value>
            <option value = 5>germany</value>
            <option value = 6>india</value>
            <option value = 7>ireland</value>
            <option value = 8>netherlands</value>
            <option value = 9>sweden</value>
            <option value = 10>switzerland</value>
            <option value = 11>united kingdom</value>
            <option value = 12>united states</value>
            <option value = 0>Not Available</value>
          <!-- <option value="3">Canada</option> -->
        </select>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Country</label>
        <select class="form-select" id="inputGroupSelect01" name = "job_country_id" required>
          <!-- <option selected>select your country...</option> -->
            <option value = 1>canada</value>
            <option value = 2>china</value>
            <option value = 3>finland</value>
            <option value = 4>france</value>
            <option value = 5>germany</value>
            <option value = 6>india</value>
            <option value = 7>ireland</value>
            <option value = 8>netherlands</value>
            <option value = 9>sweden</value>
            <option value = 10>switzerland</value>
            <option value = 11>united kingdom</value>
            <option value = 12>united states</value>
            <option value = 0>Not Available</value>
          <!-- <option value="3">Canada</option> -->
        </select>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Salary</label>
        <select class="form-select" id="inputGroupSelect01" name = "expected_salary_id" required>
          <!-- <option selected>select your country...</option> -->
          <option value = 1>less than 50k</option>
          <option value = 2>between 50k to 100k</option>
          <option value = 3>between 100k to 150k</option>
          <option value = 4>between 150k to 200k</option>
          <option value = 5>between 200k to 250k</option>
          <option value = 6>between 250k to 300k</option>
          <option value = 7>greater than 300k</option>
          <!-- <option value="3">Canada</option> -->
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

      </tbody>
    </table>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
{% endblock body %}
